<%- include('./partials/header.ejs') %>
<head>
    <nav>
            <a href="/items/new">| add item |</a>

            <a href="/">| see index |</a>
            
      </nav>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<body>
    <a href="index/0"><img src="https://imgur.com/j1I7Krc.jpg"></a>

    <ul class="items">
        <% for(let i = 0; i < items.length; i++) { %>
            <li>
               <a href="/items/<%= i %>"> <%=items[i].name%> </a>

               <a href="/items/<%= items[i].id %>/edit">(Edit)</a>

               <form action="/items/<%= i %>?_method=DELETE" method="POST">
                <button>Delete</button>
              </form>
            </li>
       <% } %>

    </ul>

</body>

<%- include('./partials/footer.ejs') %>