<%- include('./partials/header.ejs') %>
<head>
    <h1>Flannery's Name Brand Accessories</h1>

    <h2>I wear what I sell. I sell what I wear.</h2>

    <p>Thank you for visiting my site! I have a nice collection of designer items for sale. Many of these items I purchased for myself. But, as we all know, people grow tired of wearing the same things over and over again. That's why I'm here now. I want to give you the pleasure of owning these beautiful items as well.</p>

    <nav>
            <a href="/items/new">| add item |</a>

            <a href="/">| see index |</a>

            <a href="/items/welcome">| welcome |</a> 
            
      </nav>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<body>
    <div id="designers"> 
        
        <img id="designer" src="https://imgur.com/UlxP5sq.jpg">
    </div>

    <ul class="items">
        <% for(let i = 0; i < items.length; i++) { %>
            <li>
               <a href="/items/<%= items[i].id %>"> <%=items[i].name%> </a>
                <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].img%> </a>
               <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].color%> </a>
               <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].description%> </a>
               <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].price%> </a>
               <br>
               <a href="/items/<%= items[i].id %>/edit">(Edit)</a>

               <form action="/items/<%= items[i].id %>?_method=DELETE" method="POST">
                <button>Delete</button>
              </form>
            </li>
       <% } %>

    </ul>

</body>

<%- include('./partials/footer.ejs') %>