<%- include('./partials/header.ejs') %>
<head>
 
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
   
    <h1> Flannery's Name Brand Accessories</h1>

    <h2>"I wear what I sell. I sell what I wear."</h2>

    <img id="clothing" src="https://tinyurl.com/2d8f97kc">

    <p>Thank you for visiting my site! I have a nice collection of designer items for sale. Many of these items I purchased for myself. But, as we all know, people grow tired of wearing the same things over and over again. That's why I created this online boutique. I want to give you the pleasure of owning these beautiful items as well.</p>
    
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<body>

    <ul class="items">
        <% for(let i = 0; i < items.length; i++) { %>
            <li>
               <a href="/items/<%= items[i].id %>"> <%=items[i].name%> </a>
                <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].img%> </a>
               <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].color%> </a>
               <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].description%> </a>
               <br>
               <a href="/items/<%= items[i].id %>"> <%=items[i].price%> </a>
               <br>
               <a href="/items/<%= items[i].id %>/edit">(Edit)</a>

               <form action="/items/<%= items[i].id %>?_method=DELETE" method="POST">
                <button>Delete</button>
              </form>
            </li>
       <% } %>

    </ul>

    
        <img id="ebay-store" src="https://imgur.com/sAyFfpF.jpg">
        <br>
    
    <a href="/items/new">| add item |</a>
    </div>
</body>

<%- include('./partials/footer.ejs') %>