<%- include('./partials/header.ejs') %>
<head>
    <h1>Flannery's Name Brand Accessories</h1>
    <nav>
            <a href="/items/new">| add item |</a>

            <a href="/">| see index |</a>
            
      </nav>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<body>
    <div id="marc-jacobs"> 
        <img id="marc" src="https://imgur.com/yzHdwTy.jpg">
    </div>

    <ul class="items">
        <% for(let i = 0; i < items.length; i++) { %>
            <li>
               <a href="/items/<%= i %>"> <%=items[i].name%> </a>
                <br>
               <a href="/items/<%= i %>"> <%=items[i].img%> </a>
               <br>
               <a href="/items/<%= i %>"> <%=items[i].color%> </a>
               <br>
               <a href="/items/<%= i %>"> <%=items[i].description%> </a>
               <br>
               <a href="/items/<%= i %>"> <%=items[i].price%> </a>
               <br>
               <a href="/items/<%= i %>/edit">(Edit)</a>

               <form action="/items/<%= i %>?_method=DELETE" method="POST">
                <button>Delete</button>
              </form>
            </li>
       <% } %>

    </ul>

</body>

<%- include('./partials/footer.ejs') %>