
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<h1><%=items.name%></h1>

<img src= "<%=items.img%>">
<p><%=items.description%></p>
<p>PRICE: $<%=items.price%></p>


<div id="buy">
<form action="/items/<%=items.id%>/buy?_method=PUT" method="POST">
    <button>BUY</button>
</form>
</div>

<a href="/items">back</a>



<%- include('./partials/footer.ejs') %>